{% extends 'profil/partials/base.html.twig' %}

{% block body %}
	<h2 class="text-center font-weight-light mt-4 mb-2">Editer l'Item</h2>

<div class="col-md-6 m-auto">
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{# {{ form_row(form.imageFile) }} #}
	<button class="btn btn-primary">Update</button>
	{{ form_end(form) }}
</div>
{% endblock %}